
body{
  margin: 0%;
  padding: 0%;
  font-family: "Quicksand", sans-serif;
  background: #ffffff;
  box-sizing: border-box;
  
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header-main .ccbl {
  margin-top: 4px;
  position: relative;
  left: -2%;
  margin: 7px  0 0;
  margin-left: 8%;
  margin-right: -4%;
}
  
 .nav-bar {
  display: flex;
  cursor: pointer;
}

.menu4 {
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin-left: 5px;
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size:19px;
  font-weight: 800;
}

.menu li {
  margin-right: 40px;
}

.menu li a {
  text-decoration: none;
  color: black; 
}

.menu li a:hover{
  color: #b8084a;
  cursor: pointer;
}

.main-image {
  position: relative;
}

.bg-image {
  position: relative;
  z-index: 1;
 
}

.pic2 {
  position: absolute;
  top: 10%;
  left: 15%;
  z-index: 2;
}

.menu-btn{
  height: 40px;
  box-sizing: border-box;
  border: 5px solid white;
  width: 180px;
  background: #b8084a;
  border-radius: 380px;
  margin-left: -40%;
  padding: 30px;
}

.donate_btn{
  font-weight: 600;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 5px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  left:15px;
  
}
.donate_btn a{
  text-decoration: none;
  color: #ffffff;
}
.menu-btn {
  display: flex;
  margin-right: 5px;  
}
.special{
  display: flex;
  margin-right: 0;
}

.search-box  {
  width: 40px; 
  height: 40px;
  background-color: #e8e3e3; 
  border: none;
  border-radius: 50%; 
  padding: 10px; 
  color: #7d7b7b;
  position: relative;
  left: 10%;
  top:7px;
}

.search-box i{
  color: #a79f9f;
  position: absolute;
  top: 22px;
  left:22px;
}

.btn-out {
  text-align: center;
  width: 20%;
  height: 70px;
  display: inline-block;
  box-sizing: border-box;
  border: 5px solid white;
  border-radius: 35px;
  background-color: white;
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

h2{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 35px;
  color: #58ab90;
  text-decoration: none;
}


.btn-out:hover {
background-color: rgb(145, 225, 198); 
}








